.all{
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	width: 100%;
	background-color: #F7F6EE;
}

/*顶部样式title*/
.title{
	display: inline-flex;
	flex-flow: row nowrap;
	flex:1;
	background-color: rgba(206, 255, 206,1);
}
/*主题样式total*/
.total{
	display: inline-flex;
	flex-flow: column nowrap;
	flex: 12;
	background-color: rgba(242, 242, 242,1);
}
/*底部样式indo*/
.indo{
	display: inline-flex;
	flex-flow: row nowrap;
	flex: 1;
	justify-content: space-around;
	background-color: rgba(248, 248, 248,1);
	color: rgba(118, 115, 115,1);
	text-align: center;
	font-family: Roboto;
	border: 1vh solid rgba(248, 248, 248,1);
}
/*顶部图标-属性bgimg*/
.bgimg{
	flex: 2;
	background-color: rgba(16, 16, 16,1);
}
/*顶部图标-活动in*/
.in{
	flex: 2.5;
	color: rgba(16, 16, 16,1);
	font-size: 2.5vh;
	text-align: center;
	font-family: PingFangSC-regular;
	align-self: center;
}
/*顶部图标-文章passage*/
.passage{
	flex: 2.5;
	color: rgba(16, 16, 16,1);
	font-size: 2.5vh;
	text-align: center;
	font-family: PingFangSC-regular;
	align-self: center;
}
/*顶部图标-订阅subscribe*/
.subscribe{
	flex: 2.5;
	color: rgba(16, 16, 16,1);
	font-size: 2.5vh;
	text-align: center;
	font-family: PingFangSC-regular;
	align-self: center;
}
/*顶部图标-搜索search*/
.serach{
	background-image: url(@/SCSS-picture/search.svg);
	flex: 2;
	background-color: rgba(16, 16, 16,1);
}
/*顶部空白*/
.titleblank1{
	flex: 1;
}
.titleblank2{
	flex: 4;
}
/*底部图标-首页*/
.home{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 8vh;
}
/*底部图标-首页图标homebutton*/
.homebutton{
	background-color: rgba(138, 138, 138,1);
	width: 3vh;
	height: 3vh;
	align-self: center;
}
/*底部图标-首页标注buttontext*/
.hometext{
	width: 3vh;
	height: 2vh;
	line-height: 2vh;
	color: rgba(138, 138, 138,1);
	font-size: 1vh;
	text-align: center;
	font-family: PingFangSC-regular;
}
/*底部图标-树洞*/
.tree{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 8vh;
}
/*底部图标-树洞图标treebutton*/
.treebutton{
	background-color: rgba(138, 138, 138,1);
	width: 3vh;
	height: 3vh;
	align-self: center;
}
/*底部图标-树洞标注treetext*/
.treetext{
	width: 3vh;
	height: 2vh;
	line-height: 2vh;
	color: rgba(138, 138, 138,1);
	font-size: 1vh;
	text-align: center;
	font-family: PingFangSC-regular;
}
/*底部图标-发布*/
.publish{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 8vh;
}
/*底部图标-发布图标publishbutton*/
.publishbutton{
	background-color: rgba(138, 138, 138,1);
	width: 3vh;
	height: 3vh;
	align-self: center;
	background-color: rgba(118, 115, 115,1);
}
/*底部图标-发布标注publishtext*/
.publishtext{
	width: 3vh;
	height: 2vh;
	line-height: 2vh;
	color: rgba(138, 138, 138,1);
	font-size: 1vh;
	text-align: center;
	font-family: PingFangSC-regular;
}
/*底部图标-书信*/
.letter{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 8vh;
}
/*底部图标-书信图标letterbutton*/
.letterbutton{
	background-color: rgba(138, 138, 138,1);
	width: 3vh;
	height: 3vh;
	align-self: center;
	background-color: rgba(118, 115, 115,1);
}
/*底部图标-书信标注lettertext*/
.lettertext{
	width: 3vh;
	height: 2vh;
	line-height: 2vh;
	color: rgba(138, 138, 138,1);
	font-size: 1vh;
	text-align: center;
	font-family: PingFangSC-regular;
}
/*底部图标-我的*/
.mine{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 8vh;
}
/*底部图标-我的图标minebutton*/
.minebutton{
	background-color: rgba(138, 138, 138,1);
	width: 3vh;
	height: 3vh;
	align-self: center;
	background-color: rgba(118, 115, 115,1);
}
/*底部图标-我的标注minebutton*/
.minetext{
	width: 3vh;
	height: 2vh;
	line-height: 2vh;
	color: rgba(138, 138, 138,1);
	font-size: 1vh;
	text-align: center;
	font-family: PingFangSC-regular;
}